/* progress bar */
.g3setup-container {
  background-color: #f9d8d8;
  margin-bottom: 20px;
  border: 1px solid grey;
}
.g3setup-progress {
  background-color: #cef5ce;
  padding: 5px;
}
.g3setup-message {
  position: absolute;
  top: 0;
  padding: 5px;
  text-align: center;
  width: 100%;
}

/* check icons on setup page */
.page-g-admin-g3setup .status-icon {
  text-align: center;
}
.g3setup-status-icon .fa {
  font-size: 24pt !important;
  color: lightgrey;
}
.page-g-admin-g3setup .done {
  color: green;
}

/* text formats on setup page */
.g3setup-description {
  line-height: 1.2em;
}
.g3setup-link {
  font-style: underline;
}
.g3setup-navigation {
  font-size: 8pt;
  font-style: italic;
  color: grey;
}

/* congratulations message */
.g3setup-congrats {
  font-size: 18pt;
  color: #EE5126;
}
